<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Fantasy Football Manager</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <meta>
   </head>
   <body>
      <header>
         <h1>Fantasy Football Manager</h1>
      </header>
      <nav>
        <a href="index">Home</a>
        <a href="players.j2">Players</a>
        <a href="teams.j2">Teams</a>
        <a href="team_owners.j2">Team Owners</a>
        <a href="leagues.j2">Leagues</a>
        <a href="matches.j2">Matches</a>
        <a href="team_rosters.j2">Players in Teams</a>
      </nav>
      <h2>Home Page</h2>
   </body>
</html>